<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <mappers>
        <mapper resource="db/mybatis/AddressMapper.xml"/>
        <mapper resource="db/mybatis/AreaMapper.xml"/>
        <mapper resource="db/mybatis/CityMapper.xml"/>
        <mapper resource="db/mybatis/FreshMapper.xml"/>
        <mapper resource="db/mybatis/FreshTypeMapper.xml"/>
        <mapper resource="db/mybatis/OrderFreshMapper.xml"/>
        <mapper resource="db/mybatis/MyOrderMapper.xml"/>
        <mapper resource="db/mybatis/ProvinceMapper.xml"/>
        <mapper resource="db/mybatis/ShopMapper.xml"/>
        <mapper resource="db/mybatis/UserMapper.xml"/>
    </mappers>
</configuration>
